<h1>About</h1>
<p>
  RxTrackr was developed by Rebecca Sherman as a project for Flatiron School's Full Stack Web Development training at <a href="https://learn.co/becky000" title="Visit Learn.co and try an intro class for free!"><strong>Learn.co</strong></a>. RxTrackr runs on Ruby on Rails, ActiveRecord, and lots of love.
</p>
