<h1>Contact</h1>
<p>
  Rebecca Sherman |
  <a href="https://twitter.com/RebeccaASherman" target="_blank" rel="noopener noreferer" title="Twitter link for @RebeccaASherman">Twitter</a> |
  <a href="mailto:rxtrackr@gmail.com" subject="RxTrackr App" title="Email">Email</a> |
  <a href="https://github.com/becky000/rxtrackr" target="_blank" rel="noopener noreferer" title="RxTrackr App repository on GitHub">GitHub</a>
</p>
