<h1>Privacy Policy</h1>
<div class="row">
  <div class="col-md-12">
    <p>This privacy policy discloses the privacy practices for RxTrackr.
      This privacy policy applies solely to information collected by this web site.
      It will notify you of the following:</p>

    <ul>
      <li>What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.</li>
      <li>What choices are available to you regarding the use of your data.</li>
      <li>The security procedures in place to protect the misuse of your information.</li>
    </ul>

    <h2>Information Collection, Use, and Sharing</h2>
    <p>RxTrackr is the sole owner of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will NEVER sell, share, or rent this information to ANYONE.</p>

    <h2>Security</h2>
    <p>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline. Your information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the top or bottom of your web browser, or looking for "https" at the beginning of the address of the web page.</p>

    <h2>Registration</h2>
    <p>In order to use this website, a user must first complete the registration form. During registration a user is required to give certain information (such as name and email address). This information is used to provide you a private account which saves and displays your information to you, and for no other reason.</p>

    <h2>Cookies</h2>
    <p>We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site. Usage of a cookie is in no way linked to any personally identifiable information on our site.</p>

    <h2>Updates</h2>
    <p>Any update to this Privacy Policy will be posted on this page. This policy was last modified November 15, 2016.</p>
  </div>
</div>
