<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Provider Profile</h1>
    <p>Name: <%= @provider_profile.name %>
    <p>Telephone: <%= @provider_profile.telephone %>
    <p>Address: <%= @provider_profile.address %>
    <p>Website: <%= @provider_profile.website %>
  </div>
</div>
