<footer class="footer">
  <small>
    &copy; 2016 Developed by <a href="https://github.com/becky000">Rebecca Sherman</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Privacy Policy", privacy_path %></li>
      <li><%= link_to "Terms of Use", terms_path %></li>
    </ul>
  </nav>
</footer>
